%section.clearfix#content-receipt
  #receipt-container
    .dotmatrix.left
    #receipt-content
      %h4#receipt-title Thank You!
      %p 
        %strong RECEIPT
      .row.clearfix#receipt-details
        .col-sm-8.receipt-left
          %p
            %strong.font-weight-heavy Growth Hacking
            %span.font-weight-light Crash Course
            /<strong class="font-weight-heavy">Growth Hacking</strong><br/> <span class="font-weight-light">Crash Course</span>
        .col-sm-4 $4.99
      = link_to "Click here", "https://s3.amazonaws.com/rashonemonthstripe/RasheedBustamamCoverLetterSimple.pdf"
      %footer#receipt-footer
        %small Your purchase is compelte. We hope you enjoy it!
    .dotmatrix.right
  #receipt-shadow